// File: _general.scss
// This file contains general config.
/* STYLES GO HERE */

/*
* TEST COLORS
*/
.color1 {
  background-color: tomato;
}
.color2 {
  background-color: green;
}
.color3 {
  background-color: orange;
}
.color4 {
  background-color: blueviolet;
}
.color5 {
  background-color: blue;
}
.color6 {
  background-color: yellow;
}
.color7 {
  background-color: red;
}
.color8 {
  background-color: cyan;
}