// File: _variables.scss
// This file contains variables config.
/* STYLES GO HERE */

$primary: #e63b4f;
$hover-primary: #ca3143;
$monotone-primary: #E6423B;
$monotone-secondary: #E6613B;
$pink-channel: #F15574;
$secondary: #323233;
$hover-secondary: #000;
$color-tertiary: #5d76b6;
$color-quartenary: #20CFB2;
$blue: #02baef;
$gray: #f6f6f6;
$gray2: #ebebf0;
$gray-hard: #474747;
$color-facebook: #37559C;
$hover-facebook: #2d4682;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);